{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js" integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/aes.min.js" integrity="sha512-4b1zfeOuJCy8B/suCMGNcEkMcQkQ+/jQ6HlJIaYVGvg2ZydPvdp7GY0CuRVbNpSxNVFqwTAmls2ftKSkDI9vtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <title>ConnectU</title>
</head>
<body>
    <div class="container">
        <nav>
            <div class="logo">
                <a href="/"><h3>ConnectU</h3></a>
            </div>
            <div class="search-user">
                <form action="{% url 'search-user' %}" method="get" autocomplete="off" id="search-user-form">
                    <i class="fa-solid fa-magnifying-glass"></i><input type="text" name="user"></input>
                </form>
            </div>
            <ul>
                <!-- <li>About</li> -->
                <a href="{% url 'logout' %}"><li id="logout-btn">Logout</li></a>
                <li id="user-nav"><i>Hi</i> , <a href="/">{{user.username}}</a></li>
                <!-- <li><img src="{{user.profile.pic.url}}" id="usr-profile-nav"></li> -->
                <input type="hidden" id="logged-in-user" value="{{user.username}}">
            </ul>
        </nav>
        <section>
            <div class="left-bar">
                <div class="recent-chats">
                    <h3>Recent Chats</h3>
                    <div class="recent-user-list">
                        {% for usr in user_list %}
                            <div class="recent-user" onclick="location.href='/user/{{usr.username}}';">
                                <div class="user-profile-img">
                                    <img src="{{usr.profile.pic.url}}" alt="">
                                </div>
                                <div class="user-name">
                                    <b>{{usr.username}}</b>
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="middle-bar">
                <div class="chat-box">
                    <div class="user-detail">
                        <div class="user-profile-img">
                            {% if user0 %}
                                <img src="{{user0.profile.pic.url}}" alt="">
                            {% endif %}
                        </div>
                        <div class="user-name">
                            <input type="hidden" id="other-user" value="{{user0.username}}">
                            {% if user0 %}
                                <i>{{user0.username}}</i>
                            {% endif %}
                        </div>
                    </div>
                    <div class="messages-wrapper">
                    </div>
                    <script>
                        let e = "{{datajson}}";
                        let d = JSON.parse(e.replace(/&quot;/g,'"'));
                        for (var key in d){
                            let msg = CryptoJS.AES.decrypt((d[key]['fields']['message']),"nitish").toString(CryptoJS.enc.Utf8);
                            let msg_date =d[key]['fields']['mesage_date'] 
                            if(d[key]['fields']['sender_id'] == "{{user.id}}"){
                                txt =`
                                    <div class="show-sent-message">
                                        <h4>${msg}</h4>
                                        <i><h4>${msg_date}</h4></i>
                                    </div>
                                `
                            }
                            else{
                                txt = `
                                    <div class="show-received-message">
                                        <h4>${msg}</h4>
                                        <i><h4>${msg_date}</h4></i>
                                    </div>
                                `
                            }
                            $('.messages-wrapper').append(txt);
                        }
                        
                    </script>
                    <div class="mssg-form-container">
                        <form action="" method="post" autocomplete="off" id="message-form">
                            {% csrf_token %}
                            <input type="text" name="message" id="mssg-text" placeholder="Type your mssg here"><i class="fa-solid fa-paper-plane"></i></input>
                            
                        </form>
                    </div>
                </div>
            </div>
            <div class="right-bar">
                {% if user0 %}
                    <div class="user-profile-img">
                        <img src="{{user0.profile.pic.url}}" alt="">
                    </div>
                    <div class="user-name">
                        <h2>{{user0.username}}</h2>
                    </div>
                    <div class="user-about">
                        <h3>{{user0.profile.about}}</h3>
                    </div>
                {% else %}
                    <div class="user-profile-img">
                        <img src="{{user.profile.pic.url}}" alt="">
                    </div>
                    <div class="user-name">
                        <h2>{{user.username}}</h2>
                    </div>
                    <div class="user-about">
                        <h3>{{user.profile.about}}</h3>
                    </div>
                {% endif %}
            </div>
        </section>
    </div>
    <script src="https://kit.fontawesome.com/194344ab1e.js" crossorigin="anonymous"></script>
    <script src="{% static 'messages.js' %}"></script>
</body>
</html>